# Target directory
/target/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project

# Environment variables
.env
.env.local

# Logs
*.log
logs/

# Operating System Files
.DS_Store
Thumbs.db

# Seeding files
/src/main/resources/import_isbns.txt
/src/main/resources/application-local.properties
